# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/animes
DB_USERNAME=your_username
DB_PASSWORD=your_password

# MySQL Docker Configuration
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=animes

